@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #060701;
  margin: 0;
  font-family: 'netflix'
}
@font-face {
  font-family: 'netflix';
  src: url('./assets/netflix.woff2');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
